@{
    ViewBag.Title = "RWX Viewer by Byte";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gl-matrix-min.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Url.Content("~/Scripts/MrByte.RwxViewer.Renderer.js")"></script>
}

<div id="header">
    <div id="headerContent">
        <h1>RWX Viewer by Byte</h1>
    </div>
</div>

<div id="content">
    <div id="modelSelector" class="infoBar">
        <label for="selectWorld">World:</label>
        <select class="uiSelect" id="selectWorld" data-bind="options: worlds, optionsText: 'name', optionsCaption: '(None)', value: selectedWorld, enabled: worlds().length > 0"></select>

        <label for="selectModel">Object:</label>
        <select class="uiSelect" id="selectModel" data-bind="options: models, optionsText: 'name', optionsCaption: '(None)', value: selectedModel, enable: models().length > 0"></select>
    </div>

    <div class="viewport">
        <canvas id="viewport" width="960" height="540">
            Your browser does not support the HTML 5 Canvas element.
        </canvas>

        <button id="resetCamera" data-bind="click: resetCamera">Reset Camera</button>

        <h1 id="loading">Loading...</h1>

        <div id="error">
            <span id="errorText" data-bind="text: errorMessage"></span><br/>
            <a href="http://github.com/Mr-Byte/RWXViewer/issues">Report an Issue</a> / <a href="#" data-bind="click: hideError">Close</a>
        </div>
    </div>

    <div class="infoBar">
        Left Mouse: Rotate<br />
        Right Mouse: Pan<br />
        Mouse Wheel: Zoom
    </div>
</div>

<script src="@Url.Content("~/Scripts/RWXViewer.js")"></script>
