@{
    ViewBag.Title = "RWX Viewer by Byte";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gl-matrix-min.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Url.Content("~/Scripts/Bloyteg.RwxViewer.Renderer.js")"></script>
}


<div id="renderArea">
    <canvas id="viewport">
        Your browser does not support the HTML 5 Canvas element.
    </canvas>

    <button id="resetCamera" data-bind="click: resetCamera">Reset Camera</button>

    <h1 id="loading">Loading...</h1>

    <div id="error">
        <span id="errorText" data-bind="text: errorMessage"></span><br />
        <a href="http://github.com/Bloyteg/RWXViewer/issues">Report an Issue</a> / <a href="#" data-bind="click: hideError">Close</a>
    </div>
</div>

<div id="sidebar">
    <div id="modelSelection" class="optionGroup">
        <div class="optionHeader">Model Selection</div>
        <div class="optionContent">
            <div class="optionSetting">
                <label for="selectWorld">World:</label>
                <select id="selectWorld" data-bind="options: worlds, optionsText: 'name', optionsCaption: '(None)', value: selectedWorld, enabled: worlds().length > 0"></select>
            </div>

            <div class="optionSetting">
                <label for="selectType">Type:</label>
                <select id="selectType" data-bind="options: types, optionsText: 'name', value: selectedType, enable: models().length > 0"></select>
            </div>

            <div class="optionSetting">
                <label for="selectModel">Object:</label>
                <select id="selectModel" data-bind="options: modelsByType, optionsText: 'name', optionsCaption: '(None)', value: selectedModel, enable: models().length > 0"></select>
            </div>

            <div class="optionSetting" data-bind="visible: selectedModel() && selectedType().type === 1">
                <label for="selectAnimation">Animation:</label>
                <select id="selectAnimation" data-bind="options: animations, optionsText: 'name', optionsCaption: '(None)', value: selectedAnimation"></select>
            </div>
        </div>
    </div>

    <div id="controls" class="optionGroup">
        <div class="optionHeader">Controls</div>
        <div class="optionContent">
            Left Mouse: <span style="float: right">Rotate</span><br />
            Right Mouse: <span style="float: right">Pan</span><br />
            Mouse Wheel: <span style="float: right">Zoom</span>
</div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/viewer.js")"></script>
